In [ ]:
# disscuss string slicing and provide examples?

In [ ]:
# string slicing >> string slicing allow you to extract part of string using a specific range of indices.
#str = "string"[start:end:step]
#start >> starting index of  the slice (inclusive)
#end >> end index of the slice (exclusive)
#step >> The step size between indices (optional).

In [ ]:
str1 = "hello,today is a rainy day"
len(str1)

26

In [ ]:
str1[0:22]

'hello,today is a rainy'

In [ ]:
str1[-24:24]

'llo,today is a rainy d'

In [ ]:
str1[0:27:2]

'hlotdyi  an a'

In [ ]:
str1[0:26:3]

'hltaiaaya'

In [ ]:
str2 = "she is a beautiful girl"
len(str2)

23

In [ ]:
str2[2:20:3]

'es ail'

In [ ]:
str2[::-1]

'lrig lufituaeb a si ehs'

In [ ]:
# explain the key features of list in python

In [ ]:
# list are ordered collection of items
# []
# list is like a shopping bag which can store everything
# lists are mutables

In [ ]:
list1 = ["tshirt","pants","shoes"]
list1

['tshirt', 'pants', 'shoes']

In [ ]:
list1.append("watches")
list1

['tshirt', 'pants', 'shoes', 'watches']

In [ ]:
list1[2] = "tie"
list1

['tshirt', 'pants', 'tie', 'watches']

In [ ]:
list1
list2 = ["neckless","rings"]
list1.extend(list2)

In [ ]:
list1

['tshirt', 'pants', 'tie', 'watches', 'neckless', 'rings']

In [ ]:
list = [1,2,3,4]
list * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list1

['tshirt', 'pants', 'tie', 'watches', 'neckless', 'rings']

In [ ]:
"shoes" in list1

False

In [ ]:
"rings" in list1

True

In [ ]:
# describe how to access,modify and delete elements in list with example?

In [ ]:
#access of element >> we can access the elements in list by using their index
list = ["ram","syam","mohan","gita","sita"]
list

['ram', 'syam', 'mohan', 'gita', 'sita']

In [ ]:
list[3]

'gita'

In [ ]:
list[0]

'ram'

In [ ]:
# modifying the list

In [ ]:
list3 = [10,20,30,40,50,60]
list3[4]

50

In [ ]:
list3[5] = 55
print(list3)

[10, 20, 30, 40, 50, 55]

In [ ]:
list3[3] =35
print(list3)

[10, 20, 30, 35, 50, 55]

In [ ]:
#delete the elements in list >>

In [ ]:
list4 = [10,20,30,45,50,65]
list4

[10, 20, 30, 45, 50, 65]

In [ ]:
del list4[3]
print(list4)

[10, 20, 30, 50, 65]

In [ ]:
# using remove() method >>
list4.remove(65)
print(list4)

[10, 20, 30, 50]

In [ ]:
# using pop() method >>
list4.pop(3)
print(list4)

[10, 20, 30]

In [ ]:
# compare and contrast tuples and lists with examples

In [ ]:
# similarities between list and tuple >>
# ordered collection >> Both tuples and lists are ordered collections of items, meaning the order in which you insert items is preserved.
# ndexing and Slicing: You can access elements in both tuples and lists using indexing and slicing.
# Heterogeneous Elements: Both can store elements of different data types

In [ ]:
# diffrences between list and tuples >>
# list are mutable and tuple are immutable
# list defined using [] bracket and tuple are defined ()perentheses
# list are many in-built methods and tuples are few methods
#list are consume more memory and tuples are consume less memory

In [ ]:
# lists >>
games = ["football","cricket","hockey","chess","ludo","swimming"]
games

['football', 'cricket', 'hockey', 'chess', 'ludo', 'swimming']

In [ ]:
games.append("rugby")
games

['football', 'cricket', 'hockey', 'chess', 'ludo', 'swimming', 'rugby']

In [ ]:
games.count("hockey")

1

In [ ]:
games.remove("ludo")
games

['football', 'cricket', 'hockey', 'chess', 'swimming', 'rugby']

In [ ]:
games[4]

'swimming'

In [ ]:
"chess" not in games

False

In [ ]:
"hockey" in games

True

In [ ]:
# tuples >>
t1 = (101,103,105,107,109,111)
type(t1)

tuple

In [ ]:
t1[0:4:2]

(101, 105)

In [ ]:
t1[1:6]

(103, 105, 107, 109, 111)

In [ ]:
t1[::-1]

(111, 109, 107, 105, 103, 101)

In [ ]:
t1[4]

109

In [ ]:
for i in t1:
  print(i,type(i))

101 <class 'int'>
103 <class 'int'>
105 <class 'int'>
107 <class 'int'>
109 <class 'int'>
111 <class 'int'>

In [ ]:
max(t1)

111

In [ ]:
min(t1)

101

In [ ]:
t1

(101, 103, 105, 107, 109, 111)

In [ ]:
t2 = (102,104,106,108,110)
t3 = t1 + t2

In [ ]:
t3

(101, 103, 105, 107, 109, 111, 102, 104, 106, 108, 110)

In [ ]:
# describe the key features of sets and provide examples of their uses?

In [ ]:
# sets >>
# sets are unordered collections of unique elements.
# indexing is not allowed in sets
# it doesn't allow duplicate elements.
# sets are mutable.
# sets are iterable.
# sets are provided frozensets which are immutable.

In [ ]:
players = {"virat","rohit","hardik","shubhman","bumrah","shami","virat","hardik"}
players

{'bumrah', 'hardik', 'rohit', 'shami', 'shubhman', 'virat'}

In [ ]:
len(players)

6

In [ ]:
type(players)

set

In [ ]:
players[0] # indexing is not allow thats why sets are unordered.

TypeError: 'set' object is not subscriptable

In [ ]:
list = [1,2,3,"suneel","messi","ronaldo","suneel","messi"]
list

[1, 2, 3, 'suneel', 'messi', 'ronaldo', 'suneel', 'messi']

In [ ]:
s1 = set(list)

In [ ]:
s1

{1, 2, 3, 'messi', 'ronaldo', 'suneel'}

In [ ]:
s1.add("neymar")

In [ ]:
s1

{1, 2, 3, 'messi', 'neymar', 'ronaldo', 'suneel'}

In [ ]:
s1.remove("messi") # for remove special element from set

In [ ]:
s1

{1, 2, 3, 'neymar', 'ronaldo', 'suneel'}

In [ ]:
s1.pop() # for remove random element from set

1

In [ ]:
s1

{2, 3, 'neymar', 'ronaldo', 'suneel'}

In [ ]:
for i in s1:
  print(i)

1
2
3
suneel
neymar
ronaldo

In [ ]:
# discuss the use cases of tuples and sets in python programming?

In [ ]:
# use cases of tuples >>

In [ ]:
t1 = ("suresh","ramesh","mahesh","nitesh",123,456,789)
type(t1)

tuple

In [ ]:
t1[2]

'mahesh'

In [ ]:
t1[1:7]

('ramesh', 'mahesh', 'nitesh', 123, 456, 789)

In [ ]:
t1[2] = "000" #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
t2 = (0,1,1,2,1,2,2,2,2,3,3,4,4,5,6,4,4,4,4,5,6)
t2

(0, 1, 1, 2, 1, 2, 2, 2, 2, 3, 3, 4, 4, 5, 6, 4, 4, 4, 4, 5, 6)

In [ ]:
len(t2)

21

In [ ]:
t2.count(4)

6

In [ ]:
t2.index(3)

9

In [ ]:
t1

('suresh', 'ramesh', 'mahesh', 'nitesh', 123, 456, 789)

In [ ]:
t3 = (t1,t2) #nested tuple

In [ ]:
t3

(('suresh', 'ramesh', 'mahesh', 'nitesh', 123, 456, 789),
 (0, 1, 1, 2, 1, 2, 2, 2, 2, 3, 3, 4, 4, 5, 6, 4, 4, 4, 4, 5, 6))

In [ ]:
t4 = t1 + t2

In [ ]:
t4 # combine tuple

('suresh',
 'ramesh',
 'mahesh',
 'nitesh',
 123,
 456,
 789,
 0,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 3,
 3,
 4,
 4,
 5,
 6,
 4,
 4,
 4,
 4,
 5,
 6)

In [ ]:
# use cases of set >>

In [ ]:
shopping_list = ["ice cream","mango","banana","papaya","strawberry","mango","papaya","mango","tomato"]
shopping_list

['ice cream',
 'mango',
 'banana',
 'papaya',
 'strawberry',
 'mango',
 'papaya',
 'mango',
 'tomato']

In [ ]:
a = shopping_list
a

['ice cream',
 'mango',
 'banana',
 'papaya',
 'strawberry',
 'mango',
 'papaya',
 'mango',
 'tomato']

In [ ]:
a.count("mango")

3

In [ ]:
s = set(a)

In [ ]:
s

{'banana', 'ice cream', 'mango', 'papaya', 'strawberry', 'tomato'}

In [ ]:
s.add("orange")
s

{'banana', 'ice cream', 'mango', 'orange', 'papaya', 'strawberry', 'tomato'}

In [ ]:
s1 = {1,2,3,4,5,(6,7,8,9)} # stable hash type
s1

{(6, 7, 8, 9), 1, 2, 3, 4, 5}

In [ ]:
s1.remove(4) # for remove specifically element

In [ ]:
s1

{(6, 7, 8, 9), 1, 2, 3, 5}

In [ ]:
s1.pop() # for remove random element

1

In [ ]:
s1

{(6, 7, 8, 9), 2, 3, 5}

In [ ]:
s1.update("sohan") # update take iterable

In [ ]:
s1

{(6, 7, 8, 9), 2, 3, 5, 'a', 'h', 'n', 'o', 's'}

In [ ]:
s1.update(["sohan"])

In [ ]:
s1

{(6, 7, 8, 9), 2, 3, 5, 'a', 'h', 'n', 'o', 's', 'sohan'}

In [ ]:
s2 = {0,1,2,3,4}
s3 = {3,4,5,6,7}
s4 = {6,7,10,11,12,}
s2 | s3 |s4 # union operator

{0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12}

In [ ]:
s2 & s3 # intersection operator

{3, 4}

In [ ]:
s2 & s3 & s4

set()

In [ ]:
s2 - s3 # diffrence operator

{0, 1, 2}

In [ ]:
s2 ^ s3 #symmetric diffrence

{0, 1, 2, 5, 6, 7}

In [ ]:
# describe how to add,modify and delete items in a dictionary with examples?

In [1]:
# adding key pair item in dictionary >>

In [2]:
std_marks = {"sohan":67,"mohit":86,"sunil":92}
std_marks

{'sohan': 67, 'mohit': 86, 'sunil': 92}

In [3]:
std_marks["rohan"] = 79
std_marks["ruchi"] = 88

In [4]:
std_marks

{'sohan': 67, 'mohit': 86, 'sunil': 92, 'rohan': 79, 'ruchi': 88}

In [5]:
std_marks["ketan"] = 63

In [6]:
std_marks

{'sohan': 67, 'mohit': 86, 'sunil': 92, 'rohan': 79, 'ruchi': 88, 'ketan': 63}

In [7]:
len(std_marks)

6

In [8]:
#modifying items in dictionary >>

In [18]:
std_marks

{'sohan': 67, 'mohit': 86, 'sunil': 92, 'rohan': 79, 'ruchi': 88, 'ketan': 63}

In [19]:
std_marks["sunil"] = 90

In [20]:
std_marks

{'sohan': 67, 'mohit': 86, 'sunil': 90, 'rohan': 79, 'ruchi': 88, 'ketan': 63}

In [21]:
std_marks["ruchi"] = 99

In [22]:
std_marks

{'sohan': 67, 'mohit': 86, 'sunil': 90, 'rohan': 79, 'ruchi': 99, 'ketan': 63}

In [24]:
std_marks["sohan"] = 50
std_marks["ketan"] = 81

In [25]:
std_marks

{'sohan': 50, 'mohit': 86, 'sunil': 90, 'rohan': 79, 'ruchi': 99, 'ketan': 81}

In [27]:
#deleting items in dictionary >>

In [28]:
std_marks

{'sohan': 50, 'mohit': 86, 'sunil': 90, 'rohan': 79, 'ruchi': 99, 'ketan': 81}

In [29]:
del std_marks["mohit"]

In [30]:
std_marks

{'sohan': 50, 'sunil': 90, 'rohan': 79, 'ruchi': 99, 'ketan': 81}

In [31]:
del std_marks["ruchi"]
std_marks

{'sohan': 50, 'sunil': 90, 'rohan': 79, 'ketan': 81}

In [32]:
#delete item with using d.pop()
std_marks.pop("rohan")
std_marks

{'sohan': 50, 'sunil': 90, 'ketan': 81}

In [33]:
std_marks.pop("ketan")

81

In [34]:
std_marks

{'sohan': 50, 'sunil': 90}

In [35]:
# discuss the importance of dictionary keys being immutable and provide examples?

In [37]:
# dictionary keys being immutable to ensure the efficiency of dictionary integral structure.why
# hashing >> dictionary use hash table to story key values
#performance >> immutable keys allow faster performance compare to mutable keys.

In [39]:
# using immutable keys >> string ,tuples
dict = {"name":"vikrant","city":"dholpur","age":30}
dict

{'name': 'vikrant', 'city': 'dholpur', 'age': 30}

In [40]:
location = {(123.564,234.987):"jaipur",(378.4568,654.3975):"jodhpur"}
location

{(123.564, 234.987): 'jaipur', (378.4568, 654.3975): 'jodhpur'}

In [41]:
# using mutable keys >> list,sets
d1= {[1,2,3,4,5.56]:"integers and float numbers",["vegitables","fruits"]:"eatable item"}
d1

TypeError: unhashable type: 'list'

In [42]:
d2 = {{"rohan","sohan"}:"students name"}
d2

TypeError: unhashable type: 'set'